@model PiesListViewModel


@*<h1>@Model.CurrentCategory</h1>

@foreach (var pie in Model.Pies)
{
    @Html.Partial("PieOverviewSummary", pie)
}*@


<h1>@Model.CurrentCategory</h1>

<div id="pieDiv">
</div>



@section scripts
{
    <script>

        $(document).ready(function () {
           LoadMorePiesNext("@Model.CurrentCategory");
        });

        $(window).scroll(function() {
            if ($(window).scrollTop() + 1 >= $(document).height() - $(window).height()) {
                LoadMorePiesNext("@Model.CurrentCategory");
            }

        });

        // closure function for paging loadmorepies
        var LoadMorePiesNext = (function() {
            var counter = 0;
            return function (category) {
                LoadMorePies(category, counter);
                return counter += 1;
            }
        })();


        function LoadMorePies(category, pageCounter) {
            $.ajax({
                type: 'GET',
                url: '/api/piedata/' + category  + '/' + pageCounter,
                dataType: 'json',
                success: function(jsonData) {
                    if (jsonData == null) {
                        alert('no data returned');
                        return;
                    }

                    $.each(jsonData,
                        function(index, pie) {

                            var PieSummarString = '<div class="col-sm-4 col-lg-4 col-md-4"> ' +
                                '  <div class="thumbnail">' +
                                '     <img src="' +
                                pie.imageThumbnailUrl +
                                '" alt="">' +
                                '      <div class="caption">' +
                                '         <h3 class="pull-right">' +
                                pie.price +
                                '</h3>' +
                                '         <h3>' +
                                '             <a href=/Pie/Details/' +
                                pie.pieId +
                                '>' +
                                pie.name +
                                '</a>' +
                                '         </h3>' +
                                '         <p>' +
                                pie.shortDescription +
                                '</p>' +
                                '    </div>' +
                                '    <div class="addToCart">' +
                                '        <p class="button">' +
                                '             <a class="btn btn-primary" href=/ShoppingCart/AddToShoppingCart?pieId=' +
                                pie.pieId +
                                '>Add to cart</a>' +
                                '         </p>' +
                                '     </div>' +
                                '  </div>' +
                                '</div>';

                            $('#pieDiv').append(PieSummarString);
                        });
                },
                error: function(ex) {
                    alert(ex);
                }
            });
            return false;
        }
    </script>


}
